/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";
:root {
    --primary-color: #4e56c0;
    --secondary-color: #9b5de0;
    --tertiary-color: #fdcffa;
}
