.header {
    background: linear-gradient(
        to right,
        var(--primary-color),
        var(--secondary-color)
    );
    color: white;
}

.logo-circle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    flex-shrink: 0;
}

.logo-text {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

@media (max-width: 576px) {
    .logo-text {
        font-size: 1.5rem;
    }

    .logo-circle {
        width: 40px;
        height: 40px;
    }
}
