APP_PORT=30005
USERS_APP_URL=http://localhost:30000
POSTS_APP_URL=http://localhost:30001
ROUTES_APP_URL=http://localhost:30002
OFFERS_APP_URL=http://localhost:30003
SCORES_APP_URL=http://localhost:30004
HTTP_TIMEOUT_SECONDS=3.0
HTTP_MAX_RETRIES=1
