name: CI feature → develop

on:
  push:
    branches:
      # Detecta cualquier push en ramas que empiecen con 'feature', ajustado al flujo de trabajo
      - 'feature/**'  
      - 'fix/**'

jobs:
  feature-to-develop:
    # Solo se ejecuta si el mensaje del commit contiene 'FIN_FEATURE'
    if: ${{ contains(github.event.head_commit.message, 'FIN_FEATURE') }}
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout del código
      - name: Checkout del repositorio
        uses: actions/checkout@v2

      # 2. Configurar Python
      - name: Configuración de entorno python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # 3. Instalar dependencias
      - name: Instalación de librerías
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4. Mezclar develop en la rama de funcionalidad
      - name: Mezclar develop en la rama actual
        uses: tukasz/direct-merge-action@master
        with:
          # El github token se genera automáticamente cuando se ejecuta el workflow
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          source-branch: develop
          target-branch: ${{ github.ref }}

      # 5. Correr pruebas
      - name: Correr pruebas
        run: python -m unittest discover -s tests

      # 6. Si pasa, mezclar rama de funcionalidad en develop
      - name: Mezclar feature -> develop
        if: success()
        uses: tukasz/direct-merge-action@master
        with:
          # El github token se genera automáticamente cuando se ejecuta el workflow
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
          source-branch: ${{ github.ref }}
          target-branch: develop