APP_NAME=credit_cards_app
APP_PORT=30006
USERS_APP_URL=http://localhost:30000
USERS_TIMEOUT_SECONDS=2
TRUE_NATIVE_BASE_URL=http://localhost:30006
TRUE_NATIVE_SECRET_TOKEN=change-me
TRUE_NATIVE_TIMEOUT_SECONDS=2
CREDIT_CARDS_INTERNAL_SECRET=change-me-internal
DB_HOST=localhost
DB_PORT=5436
DB_NAME=credit_cards_db
DB_USER=credit_cards_app
DB_PASSWORD=postgres
